/* Navbar styles */
.navbar {
  position: fixed; /* Set the navbar to a fixed position */
  top: 0; /* Position the navbar at the top of the viewport */
  left: 0; /* Align the navbar to the left of the viewport */
  right: 0; /* Align the navbar to the right of the viewport */
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #F4F6FB;
  padding: 20px;
  color: #000; /* You can change the text color as needed */
  z-index: 2; /* Set a higher z-index to place the navbar on top of other elements */
}

/* Hero styles */
.hero-container {
  position: relative;
  background-image: url('/src/Images/heroBg.png'); /* Replace with the actual path to your background image */
  background-size: cover;
  background-position: center;
  height: 100vh; /* Adjust the height as needed, making it full viewport height */
  display: flex;
  justify-content: flex-start;
  align-items: center;
  z-index: 1; /* Set a lower z-index to place the hero behind the navbar */
}

/* Hero content styles */
.hero-content {
  padding-left: 10%; /* Adjust the padding to control the position of the text */
}

/* Hero heading styles */
.hero-heading {
  font-size: 36px;
  font-weight: bold;
  color: #0B3299;
  margin-bottom: 20px;
  line-height: 1.4; /* Add some line-height to create space between lines */
  text-align: left;
}

/* Hero button styles */
.hero-buttons {
  margin-top: 20px; /* Add some spacing between the heading and buttons */
}

.hero-button {
  margin-right: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  /* Add other styles like box-shadow, hover effects, etc. as per your design */
}

/* Optional: Add hover effect on the button */
.hero-button:hover {
  background-color: #0056b3; /* Change the button background color on hover */
  color: #f4f6fb; /* Change the button text color on hover */
  /* Add any other styles you want on hover */
}
